{% extends "base.html" %}
{% block login %}
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
  <div class="mb-3 input-group">
    <span class="input-group-text">Titolo</span>
    <input type="text" class="form-control" id="titolo" name="titolo">
  </div>
  {% if not request.url.endswith('/edit') %}
  <div class="mb-3 input-group">
    <span class="input-group-text">Indirizzo</span>
    <input type="text" class="form-control" id="indirizzo" name="indirizzo">
  </div>
  {% endif %}
  <div class="mb-3 input-group">
    <span class="input-group-text">Tipo</span>
    <select class="form-select" id="tipo" name="tipo">
      <option selected disabled hidden>Seleziona</option>
      <option value="0">Casa indipendente</option>
      <option value="1">Appartamento</option>
      <option value="2">Loft</option>
      <option value="3">Villa</option>
    </select>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text">Locali</span>
    <select class="form-select" id="locali" name="locali">
      <option selected disabled hidden>Seleziona</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5+</option>
    </select>
  </div>
  <div class="mb-3 form-">
    <input type="textarea" placeholder="descrizione" class="form-control" id="descrizione" name="descrizione">
    <label class="input-group-text">Descrizione</label>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text">Prezzo</span>
    <input type="number" class="form-control" id="prezzo" name="prezzo">
    <span class="input-group-text">€</span>
  </div>
  <div class="mb-3 form-check form-switch">
    <input type="checkbox" class="form-check-input" role="switch" id="arredata" name="arredata">
    <label class="form-check-label">Arredata</span>
  </div>
  <div class="mb-3 form-check form-switch">
    <input type="checkbox" class="form-check-input" role="switch" id="visibile" name="visibile">
    <label class="form-check-label">Visibile</span>
  </div>
  <div class="mb-3 input-group">
    <span class="input-group-text">Immagini</span>
    <input type="file" class="form-control" id="immagini" name="immagini" multiple>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}