{% import "macros.html" as macros%} {% extends "base.html" %} {% block content
%} {% if order == "locali" %}
<a href="/?order=prezzo" class="btn">
	<i class="bi bi-arrow-down">Locali ASC</i>
</a>
{% else %}
<a href="/?order=locali" class="btn">
	<i class="bi bi-arrow-up">Prezzo DESC</i>
</a>
{% endif %}
{% if annunci|length == 0 %}
<article class="card mb-3">
  <div class="row">
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">
					Non sono presenti annunci visibili
        </h5>
      </div>
    </div>
  </div>
</article>
{% endif %}
{% for annuncio in annunci %} {{ macros.annuncio_card(annuncio) }}
{% endfor %} {% endblock %}
