{% import "macros.html" as macros%} {% extends "base.html" %} {% block content
%}
<div class="container">
	<h2>Utente: {{ current_user.email }}</h1>

  <article class="card">
		<h4 class="card-header">Storico prenotazioni</h3>
		{% if prenotazioni|length == 0 %}
			<p class="my-2 mx-auto">Non è stata effettuata nessuna prenotazione</p>
		{% else %}
			<div class="list-group list-group-flush">
			{% for prenotazione in prenotazioni %}
				{% if prenotazione['status'] == 0 %}
					{% if current_user.tipo == 1 %}
					{{ macros.prenotazione_card_pending(prenotazione) }}
					{% else %}
					{{ macros.prenotazione_card(prenotazione) }}
					{% endif %}
				{% else %}
				{{ macros.prenotazione_card_fulfilled(prenotazione) }}
				{% endif %}
			{% endfor %}
			</div>
		{% endif %}
  </article>
  {% if current_user.tipo == 1 %}
  <article class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Titolo</th>
				<th scope="col">Indirizzo</th>
				<th scope="col">Prezzo</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
		{% for annuncio in annunci %}
			<tr>
				<th scope="row">{{ loop.index }}</th>
				<td>{{ annuncio.titolo }}</td>
				<td>{{ annuncio.indirizzo }}</td>
				<td>{{ annuncio.prezzo }}</td>
				<td class="d-flex flex-row-reverse"><a href="annunci/{{ annuncio.id }}/edit" class="btn btn-primary">Modifica</a></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
  </article>
  {% endif %}
</div>
{% endblock %}
